# Environnements Python
venv/
.env/
icare_gpu/
icare_env/



# Dépendances Node
node_modules/

# Fichiers de logs et caches
*.log
__pycache__/
npm-debug.log*

# Builds / distributions
build/
dist/

# Index FAISS et métadonnées
app/rag/store.faiss/
*.pkl
*.meta
app.zip
*.env*

roquette_dump/
features*
others/
test_ml.py
extract.py
app/frontend/node_modules/package-lock.json
backend/uv.lock